/*
*整体样式
*/
body {
	font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
	background: white;
	line-height: 18px;
}

/*表单所在块级作用域样式*/
.form-content {
	width: 660px;
	height: 356px;
	overflow: hidden;
	margin: 0 auto 0;
	padding: 10px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

body .main section {
	margin-top: 15px;
}

form .textarea {
	width: 100%;
	height: auto;
	min-height: 100px;
}

a:focus {
	outline: 0;
}

#verify {
	width: 400px;
	height: 120px;
}

.price {
	margin-top: 40px;
}

#price {
	font-size: 20px;
}

/*
*修改bootstrap默认表单样式
*/
body form .form-control {
	width: auto;
}

body form .form-control[readonly] {
	background-color: #fff;
}

body form .form-control.textarea {
	width: 450px;
}

body form .form-control.form-verify {
	width: 300px;
}

/*
* 修改ickeck默认样式
 */
.skin, .skin.skin-minimal {
	margin: 0;
}

.skin-section {
	padding: 0;
}

.skin-section,
.skin-section .list {
	float: none;
	display: inline-block !important;
}

.skin-section .list li {
	width: auto;
	display: inline-block !important;
}

/*修改未选中的颜色*/
.icheckbox_line-blue, .iradio_line-blue {
	background: rgb(157, 200, 226);
}

/*修改选中的颜色*/
.icheckbox_line-blue.checked, .iradio_line-blue.checked {
	background: #2184be;;
}

/*
* 修改select2默认样式
 */
.interest-select,
.service-time-select {
	width: 200px;
}

/*
* 修改laydate默认样式
 */
.laydate-set-ym > span[lay-type="year"], .laydate-prev-y, .laydate-next-y {
	display: none !important;
}

/*
* 修改jquery steps默认样式
*/
.wizard {
	margin-top: 10px;
}

.wizard > .content {
	min-height: 400px !important;
}

.wizard > .content > .body {
	padding: 0;
}

.wizard > .actions a {
	border: 0;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active {
	cursor: not-allowed;
}

.wizard > .steps > ul > li {
	width: 20%;
}

.wizard > .actions > ul > li.submit-btn {
	background: #eee;
	color: #aaa;
	display: block;
	padding: 0.5em 1em;
	cursor: not-allowed;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.wizard > .actions > ul > li.submit-btn.enabled {
	cursor: pointer;
	background: #2184be;
	color: #fff;
}

.wizard > .actions > ul > li.test-btn {
	background: #2184be;
	color: #fff;
	display: block;
	padding: 0.5em 1em;
	cursor: pointer;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.wizard > .content > .body input {
	display: inline-block !important;
	border: 1px solid #ccc;
}

